body {
    margin: 0;
}

header {
    width: 100vw;
    display: inline-block;
    background-color: yellow;
}

h1 {
    text-align: center;
}

form {
    margin: 10px;
    background-color: pink;
}

footer {
    background-color: purple;
    height: 50px;
    line-height: 50px;
}